<form role="movie-search-field" action="search-movies">
    <label for="s">Search</label>
    <input type="text" name="s" value="{{ this.search }}" placeholder="Search for movies...">
    <input type="submit" value="Search">
    WOOT
</form>
